body { 
  background: url('https://res.cloudinary.com/dyemjyefz/image/upload/v1741279258/peakpx_6_g8veul.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333333;
  margin-top: 5rem;     
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #222222;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #103d33;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #f8f9fa;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #f7f5f5;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #222222;
  }
  
  a.article-title:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #103d33;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .art-frame {
  border: 8px solid #D5C4A1;
  background-color: #fffbe9;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 10px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.art-frame:hover {
  transform: scale(1.015);
}

.art-frame img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
