{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center content-section">
    <h1 class="mb-4">About ArtBlock</h1>
    <p class="lead">
        ArtBlock is a space for artists and creatives to break through creative blocks. Whether you're looking for inspiration, 
        sharing your work, or engaging with fellow artists, ArtBlock is here to support your journey.
    </p>
  
    <img src="https://res.cloudinary.com/dyemjyefz/image/upload/v1741122199/yd0gwbjmomrm8lltxcyz.jpg"
    class="img-fluid rounded shadow-lg mb-4" 
    alt="ArtBlock inspiration" 
    style="max-width: 80%;">

      <p>
        This blog is dedicated to showcasing artwork, offering tips, and encouraging creativity. Feel free to explore, comment, 
        and connect with other artists. Let's turn inspiration into masterpieces together!
    </p>
</div>
{% endblock content %}
