{% extends 'blog/base.html' %}
{% block content %}
<div class="text-center content-section">
    <h2 class="display-4">404 - Page Not Found</h2>
    <p class="lead">Oops! The page you’re looking for doesn’t exist.</p>
    <img src="https://res.cloudinary.com/dyemjyefz/image/upload/v1741122199/yd0gwbjmomrm8lltxcyz.jpg"
         class="img-fluid rounded my-3" alt="Not found image" style="max-width: 300px;">
    <a class="btn btn-outline-info" href="{% url 'blog-home' %}">Go Home</a>
</div>
{% endblock %}
